

body {
  background-color: #88d6fe; 
  font-family: 'Fredoka', sans-serif;
  color: #5a5a87; 
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../images/BlueyBackground.jpeg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 17rem;
}


header {
  min-height: 75px;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* background-color: #c2e3fe; */
  min-height: 80rem;
  max-width: 100rem;
}

.left-container{
/* background-color:#c2e3fe; */
font-size: 2rem;
display: flex;
flex-direction: column;
justify-content: center;
padding: 2rem;
text-align: center;
max-height: 500px;
}

#points-div{
/* background-color: white; */
padding: 2rem;
margin-top: 40rem;
font-size: 27px;
}

#timer-div {
  font-size: 27px;
}

#lives-div {
/* background-color: white; */
padding: 2rem;
font-size: 27px;
}

.game-grid{
display: flex;
flex-wrap: wrap;
max-height: 45rem;
border-style: solid;
border-radius: 20px;
border-width: 2.5px;
margin-left: 12px;
border-color: #5a5a87; 
}

.right-container {
/* background-color: #c2e3fe; */
padding: 2rem;
text-align: center;
max-height: 500px;
font-size: 1.5rem;
}

.rules, li {
background-color: aliceblue;
padding: 1rem;
border-radius: 25px;
max-width: 21rem;

}

.rules {
  text-decoration: underline;
}

/* .timer, .timer-div {
/* background-color: white;} */



button {
  background-color:#5a5a87;
  color: white;
  padding: .5rem;
  margin-left: 2rem;
  font-size: 2rem;
  border-radius: 10px;
  position: absolute;
}

footer {
  min-height: 5rem;
  text-align: center;
  padding-top: 2rem;
  font-size: 1.5rem;
}

.bingo {
background-image: url('../images/200w\ \(1\).webp');
background-size: contain;
background-repeat: no-repeat;
background-position: center;
}

.bingo2 {
  background-image: url('../images/bingo23.gif');
  background-size: contain;
background-repeat: no-repeat;
background-position: center;
}

.obst2 {
background-image: url("../images/obst2.gif"); 
background-size: contain;
background-repeat: no-repeat;
background-position: center;
}

.obst3 {
  background-image: url("../images/obst2.gif"); 
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  }


.obst4 {
  background-image: url('../images/200w.webp');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.obst5 {
  background-image: url('../images/bluey-grannies.gif');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 15px;
}

.obst6 {
  background-image: url('../images/bingo23.gif');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.bluey {
background-image: url("../images/bluey.gif");
background-repeat: no-repeat;
background-size: contain; 
}

.crash {
background-color: red;
border-radius: 30px;
}

.safety-cells {
  background-color: #c2e3fe; 
}

.time-out {
background-color: red;
border-radius: 30px;
}

/* .game-over {
background-image:url("../images/bingofloss.gif");
background-size: contain;
background-repeat: no-repeat;
background-position: center;
} */

.player-wins {
  background-image: url('../images/blueywin.jpeg');
  background-size: contain;
  background-repeat:no-repeat;
  background-position:center;
}

.winning-cells {
  background-image: url('../images/safe.png');
  background-size: cover;
  background-repeat:no-repeat;
  background-position:center;
}

/* 
.test {
background-image: 
} */

